<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion administration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            display:flex;
            justify-content:center;
            height: 100vh;    
        }

        .card {
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-header">
                <i class="fas fa-lock"></i>
                Connexion à l'administration
            </div>
            <div class="card-body">
                {% if hasError %}
                    <p class="text-center" style="color:red;">Les informations fournies sont incorrectes</p>
                {% endif %}
                <form action="" method="post">
                    <div class="form-group">
                        <label for="_username">Email</label>
                        <input type="text" class="form-control"  placeholder="" name="_username" value="{{username}}"></input>
                    </div>
                    <div class="form-group">
                        <label for="_password">Mot de passe</label>
                        <input type="password" class="form-control" placeholder="" name="_password"></input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-unlock"></i>
                            Connexion
                        </button>
                        <a href="{{ path('home') }}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            Retour sur Stocklet
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
