<title>Stocklet - Connexion</title>
{% block body %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login_0.css">
  <div class="container">
    <div class="row h-100">
      <div class="col my-auto d-flex justify-content-center">
        <div class="card bg-light ml-auto mr-auto pb-5 pl-3">
          <div class="card-body">
            <h5 class="title mt-3">Stocklet.</h5>
            <p class="welcome">Bon Retour sur Stocklet</p>
            <p class="signup mt-3">Nouveau membre?<a href="{{ path('account_register')}}"> Créer un compte</a></p>
              {% if hasError %}
                <div class="alert alert-danger">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <p class="text-center">Les informations fournies sont incorrectes</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
                <form action=" {{ path('account_login') }}" method="post" class="mt-4">
                  <label for="_username">Email</label><br />
                  <input type="email" name="_username" id="_username" class="_username mb-3" />
                  <br />
                    <span class="text-left"><label for="_password" id="_password">Mot de passe</label></span>
                    <span class="text-right"><a href="#" class="forgot">Mot de passe oublié?</a></span>
                  <br />
                  <input type="password" name="_password" id="_password" class="_password"/>
                  <br />
                  <input type="checkbox" name="checkbox" id="checkbox" />
                  <label for="checkbox" id="checkbox">Restez connecté</label>
                  <br />
                  <button type="submit" class="submit mt-4">
                    <p class="mt-1">Se connecter </p>
                  </button>
                </form>
                <p class="mt-2"style="font-family: Gilroy-regular; font-size: 15px"> Ou se connecter avec</p>
                <div class="social">
                  <a href="{{ path('oauth_google_connexion') }} " style="text-decoration:none; color:black;" id="google" class="btn border"><img src="../../assets/images/go.png" alt="" class="logo"> Google</a>
                </div>
            </div>
          </div>
        </div>        

      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

{# 
  <button type="submit" id="fb"><img src="../../assets/images/fb.png" alt="" class="logo"><a href="{{ path('oauth_facebook_connexion') }} " style="text-decoration:none; color:white;">Facebook</a></button>
  <button type="submit" id="tw"><img src="../../assets/images/tw.png" alt="" class="logo">  Twitter</button>
#}


