<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/register_0.css">
<title>Stocklet - Inscription</title>

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
  <div class="container">
    <div class="row h-100">
        <div class="col my-auto d-flex justify-content-center">
          <div class="card bg-light ml-auto mr-auto pb-5 pl-3">
            <h5 class="title mt-3">Stocklet.</h5>
            <div class="card-body px-2">
              <p class="welcome">Bon Retour sur Stocklet</p>
              <p class="signup mt-3">Déja membre ?<a href="{{ path('account_login')}}"> Se connecter</a></p>
              {{ form_start(form) }}
              <hr>
              <h5>Informations d'identité </h5>
              <small>Vous entrerez vos informations afin d'etre identifié partout sur la plateforme</small>
              <hr>
              <div class="row">
                <hr>
                <div class="col">
                  {{ form_row(form.lastName) }}
                  {{ form_row(form.firstName) }}
                </div>  
              </div>
              {% form_theme form 'bootstrap_4_layout.html.twig' %}
              <hr>
              <h5>Contacts et Adresse </h5>
              <small>Dans cette section , vous indiquez votre lieu de residence pour les livraisons et votre contact</small>
              <hr>
              <div class="row">
                <div class="col">
                  {{ form_row(form.userPhone) }}
                  {{ form_row(form.address) }}
                </div>
              </div>
              <hr>
              {% form_theme form 'bootstrap_4_layout.html.twig' %}
              <h5>Images de profil </h5>
              <small>Vous pouvoiz uploader une image à partir d'une source locale ou entrer le lien d'une image stockée en ligne</small>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  {{ form_row(form.picture) }}
                </div>
                <div class="col-md-6">
                  {{ form_row(form.imageFile) }}
                </div>
              </div>
              <hr>
              {% form_theme form 'bootstrap_4_layout.html.twig' %}
              <h5>Informations de connexion</h5>
              <small>Votre email de connexion et votre mot de passe</small>
              <hr>
              <div class="row">
                <div class="col">
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.confirmPassword) }}
                </div>
              </div>
              <hr>       
                <button type="submit" class="submit" formnovalidate><p>S'inscrire</p></button>
              {{ form_end(form) }}
          </div>
        </div>
    </div>
  </div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 