{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/@pqina/flip/dist/flip.min.css"/>
<link rel="stylesheet" href="/css/app_0.css">
<link rel="stylesheet" href="/css/timer_0.css">
    <style>
      .wrapper {
        display: flex;
        width: 500px;
      }
      .navigation {
        margin-right: 20px;
        margin-top: 55px;
      }
      .navigation ul {
        margin-top: 50%;
        list-style: none;
      }
      .navigation ul li {
        padding-top: 5px;
        cursor: pointer;
      }
      .navigation ul li img {
        border: 3px solid #fff;
        object-fit: cover;
      }
    </style>
    {% include "partials/home_header.html.twig" %}
    {% include "partials/loader.html.twig" %}
    <div class="image-principale">
      {% include "partials/carouselPhone.html.twig" %}    
        <div class="content" id="content">
        {% if product.currentStock != 0 %}
            <p class="add_to_cart">
              <a href="{{ path('cart_add', {'id': product.id}) }}" class="add_to_cart">Commander</a> 
              {{ product.unitPrice|number_format(0,'','  ') }} FCFA <strike>{{ product.oldUnitPrice|number_format(0,'','  ') }} FCFA</strike> 
            </p>
            {% else %}
              <p class="stockFinished"> Le stock du produit est epuisé , revenez une fois le décompte terminé pour un nouveau produit</p>
        {% endif %}
        </div>
    </div>
    <div class="wrap" id="all_comments">
      <div class="left">
        <h2 class="brand">Stocklet</h2>
        <div class="wrapper mt-5">
          <div class="navigation">
            <ul>
            {% if product.leftPic1URL is null and product.leftPic1Name %}
                <li>
                  <img onclick="preview(this)" id="1" class="normal" src="/uploads/images/product_left/{{ product.leftPic1Name }}" height="61" width="61" alt=""/>
                </li>
                <li>
                  <img onclick="preview(this)" id="2" class="normal" src="/uploads/images/product_left/{{ product.leftPic2Name }}" height="61" width="61" alt=""/>
                </li>
                <li>
                  <img onclick="preview(this)" id="3" class="normal" src="/uploads/images/product_left/{{ product.leftPic3Name }}" height="61" width="61" alt=""/>
                </li>
            {% else %}
                <li>
                  <img onclick="preview(this)" id="1" class="normal" src="{{ product.leftPic1URL }}" height="61" width="61" alt=""/>
                </li>
                <li>
                  <img onclick="preview(this)" id="2" class="normal" src="{{ product.leftPic2URL }}" height="61" width="61" alt=""/>
                </li>
                <li>
                  <img onclick="preview(this)"id="3" class="normal" src="{{ product.leftPic3URL }}" height="61" width="61" alt="" />
                </li>            
            {% endif %}
            </ul>
          </div>
          <img id="0" src="" height="450" width="450" alt="Preview" class="main" />
        </div>
      </div>
      <div class="right">
        {% if app.user %}
          <div class="bs-offset-main bs-canvas-anim">
            <p class="text-right mr-5 mt-2">
                <a href="#" class="position-fixed" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right"
                  style="height: 25px;
                  width: 25px;
                  background-color: #1a237e;
                  border-radius: 50%;
                  display: inline-block;
                  align-items: center;
                  text-align: center;">
                  <i class="fas fa-bars" style="color:#fff"></i>
                </a>               
            </p>
          </div>
          <div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed h-100" style="background-color: rgb(252, 228, 236); z-index:2;">
          <header class="bs-canvas-header p-3 overflow-auto" style="background-color: #1a237e">
            <button type="button" class="bs-canvas-close float-left close" aria-label="Close">
              <span aria-hidden="true" class="text-light">&times;</span>
            </button>
            <h4 class="d-inline-block text-light mb-0 float-right">Menu</h4>
          </header>
          <div class="bs-canvas-content py-2">
            <ul style="list-style: none; color: #1a237e; font-family: AvenirNextLTPro-Bold;">
              <li><i class="fas fa-user"></i><a href="{{ path('account_index') }}" style="color: #1a237e; font-family: AvenirNextLTPro-Bold;"> Mon compte</a></li>
              <li class="mt-2"><i class="fas fa-shopping-bag"></i><a href="{{ path('cart_index') }}" style="color: #1a237e; font-family: AvenirNextLTPro-Bold;"> Mon Panier</a></li>
              <li class="mt-5"><i class="fas fa-power-off"></i><a href=" {{ path('account_logout')}}" style="color: #1a237e; font-family: AvenirNextLTPro-Bold;"> Déconnexion</a></li>
            </ul>
          </div>
        </div>
        {% else %}
        <div class="bs-offset-main bs-canvas-anim">
            <p class="text-right mr-5 mt-2">
                <a href="#" class="position-fixed" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right"
                  style="height: 25px;
                  width: 25px;
                  background-color: #1a237e;
                  border-radius: 50%;
                  display: inline-block;
                  align-items: center;
                  text-align: center;">
                  <i class="fas fa-bars" style="color:#fff"></i>
                </a>               
            </p>
          </div>
          <div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed h-100" style="background-color: rgb(252, 228, 236); z-index:2;">
          <header class="bs-canvas-header p-3 overflow-auto" style="background-color: #1a237e">
            <button type="button" class="bs-canvas-close float-left close" aria-label="Close">
              <span aria-hidden="true" class="text-light">&times;</span>
            </button>
            <h4 class="d-inline-block text-light mb-0 float-right">Menu</h4>
          </header>
          <div class="bs-canvas-content py-2">
            <ul style="list-style: none; color: #1a237e; font-family: AvenirNextLTPro-Bold;">
              <li class="mt-2"><i class="fas fa-sign-in-alt"></i><a href="{{ path('account_login') }}" style="color: #1a237e; font-family: AvenirNextLTPro-Bold;"> Connexion</a></li>
              <li class="mt-2"><i class="fas fa-user-plus"></i><a href=" {{ path('account_register')}}" style="color: #1a237e; font-family: AvenirNextLTPro-Bold;"> Inscription</a></li>
            </ul>
          </div>
        </div>         
        {% endif %}
        <div style="height: 717" class="first">
          <p class="brand">{{ product.brand }}</p>
          <p class="productName">{{ product.productName }}</p>
          <p class="price">{{ product.unitPrice|number_format(0,'','  ') }} FCFA <br><strike>{{ product.oldUnitPrice|number_format(0,'','  ') }} FCFA</strike> </p>
          <p class="desc1">{{ product.productDescription1 }}</p>
          <p class="desc2">
            {{ product.productDescription2 }}
          </p>
          {% if product.currentStock == 0 %}
            <p class="add_to_cart">
             <b> Malheureusement le stock du produit est epuisé , Revenez une fois le decompte terminé pour un nouveau produit</b>
            </p>
            {% else %}
              <p class="add_to_cart">
                <a href="{{ path('cart_add', {'id': product.id}) }}" class="add_to_cart">Commander</a> <br>
              </p>
              <p class="ship">
                Livrasion comprise. Livré sous 7 jours maximum
              </p>
          {% endif %}
        </div>
        <div style="height: 836" class="second">
          <p class="spec">Caractéristiques</p>
          <p class="title1_spec">{{ product.spec1Title }}</p>
          <p class="content_spec1">{{ product.spec1 }}</p>
          <p class="title2_spec">{{ product.spec2Title }}</p>
          <p class="content_spec2"> {{ product.spec2 }}</p>
          <p class="title3_spec">{{ product.spec3Title }}</p>
          <p class="content_spec3">{{ product.spec3 }}</p>
        </div>
        <div class="owl-carousel owl-theme" style="height: 350">
        {% if product.rightPic1Url is empty %}
              <img src="/uploads/images/product_right/{{ product.rightPic1Name }}" alt="" height="170" width="235"/>
              <img src="/uploads/images/product_right/{{ product.rightPic2Name }}" alt="" height="170" width="235"/>
              <img src="/uploads/images/product_right/{{ product.rightPic3Name }}" alt="" height="170" width="235"/>
              <img src="/uploads/images/product_right/{{ product.rightPic4Name }}" alt="" height="170" width="235"/>
              <img src="/uploads/images/product_right/{{ product.rightPic5Name }}" alt="" height="170" width="235"/>
          {% else %}
            <img src="{{ product.rightPic1Url }}" alt="" height="170" width="235"/>
            <img src="{{ product.rightPic2Url }}" alt="" height="170" width="235"/>
            <img src="{{ product.rightPic3Url }}" alt="" height="170" width="235"/>
            <img src="{{ product.rightPic4Url }}" alt="" height="170" width="235"/>
            <img src="{{ product.rightPic5Url }}" alt="" height="170" width="235"/>       
        {% endif %}
        </div>
        <div style="height: 677" class="comments">
          <p class="comment_title">COMMENTAIRES <span class="comments_nb">({{ product.comments|length }})</span>
          {% if app.user %}
          {% else %}
            <a href="{{ path('account_login') }}" class="comment_butt"> Connectez-vous pour commenter </a>
            <a href="{{ path('account_login') }}" class="comment_butt_mobile">Connectez-vous</a>
            {% endif %}
          </p>
          {% for comment in product.comments %}
            <div class="row">
              <div class="col-sm-2">
              <img 
                {% if comment.author.picture is null and comment.author.pictureName is null  %}
                src="https://randomuser.me/api/portraits/men/84.jpg"  
                {% elseif comment.author.picture is null %}
                  src="/images/avatar/{{comment.author.pictureName}}" 
                  {% else %}
                    src="{{comment.author.picture}}" 
                {% endif %}
                alt=""
                class="avatar avatar-medium"/>
              </div>
              <div class="col-sm-8">
                <small style="font-family: AvenirNextLTPro-Bold; font-size: 14px; color: #1e316a;">{{ comment.author.firstName }} {{ comment.author.lastName }}
                  <small style="font-family: AvenirNextLTPro-Medium; color: rgba(30, 49, 106, 0.32); font-size: 12px;">inscrit depuis 1 an </small>
                </small>
                <p style="font-family: AvenirNextLTPro-Regular;margin-top: 15px;color: #1e316a;font-size: 14px;">{{ comment.content }} <br />
                  <a href="{{ path('comment_like',{'id': comment.id}) }}" class="btn-btn-link js-like" style="text-decoration:none;">
                    {% if app.user and comment.isLikedByUser(app.user) %}
                      <i class="fas fa-heart" style="font-size: 14px"></i>
                    {% else %}
                      <i class="far fa-heart" style="font-size: 14px"></i>
                    {% endif %}
                    <span class="js-likes">{{ comment.likes|length }}</span>  
                  </a> &nbsp;
                  <a href="{{ path('comment_dislike',{'id': comment.id}) }}" class="btn-btn-link js-dislike" style="text-decoration:none;">
                    {% if app.user and comment.isDisLikedByUser(app.user) %}
                      <i class="fas fa-frown" style="font-size: 14px"></i>
                    {% else %}
                      <i class="far fa-frown" style="font-size: 14px"></i>
                    {% endif %}
                  </a><span class="js-dislikes">{{ comment.dislikes|length }}</span>  &nbsp;
                  {# <span style="color: #ff7d6d; font-family: AvenirNextLTPro-Medium">Répondre</span> #}
                </p>
              </div>
              <div class="col-sm-2">
                <small style=" font-family: AvenirNextLTPro-Medium; color: rgba(30, 49, 106, 0.32); font-size: 12px;">{{ comment.createdAt|date('d-m-Y') }}</small>
              </div>
            </div>
          {% endfor %}
          {% if app.user %}
            <div class="container mt-4 mb-4">
              {{ form_start(form, {'attr': {'id':'comment_form'} }) }}
                  {{ form_row(form.content) }}
                  {{ form_row(form.submit,{'attr':{'class':'comment_action_butt'} }) }}
              {{ form_end(form) }}
            </div>
          {% endif %} 
        </div>
        <section style="background-color: #1e316a">
          <div style="height: 410px" class="contact">
            <p class="contact_pre" style="color: white;  font-family: 'AvenirNextLTPro-Bold'; font-size: 30px;">
              Contactez nous quand vous le souhaitez.
            </p>
            <div class="contact-card" style="padding-left: 62px; padding-right: 62px; background-color: #fff; width: 490px; ">
              <p class="message_title">Envoyez nous un mail</p>
              <p class="message_content">payqin@stocklet.ci</p>
              <hr />
              <p class="callus_title">Appelez nous </p>
              <p class="callus_content">08 99 01 69</p>
            </div>
            <p class="features">
            <div class="row" style="padding:0; margin:0;">
              <div class="col-md-2">
                <p><a href="{{ path('contact_index') }}" style="color:#fff">  Contacts</a></p>
                <p><a href="{{ path('about_index') }}" style="color:#fff">  A Propos</a></p>
                <p><a href="{{ path('offices_index') }}" style="color:#fff">  Bureaux</a></p>
              </div>
              <div class="col-md-4">
                <p class="text-center"><a href="{{ path('garanties_index') }}" style="color:#fff"> Garanties</a></p>
                <p class="text-center"><a href="{{ path('livraisons_index') }}" style="color:#fff"> Livraisons</a></p>
                <p class="text-center"><a href="{{ path('retours_index') }}" style="color:#fff"> Retours</a></p>
              </div>
              <div class="col-md-6 mb-4">
                <p><a href="{{ path('faq_index') }}" style="color:#fff"> FAQ's</a></p>
                <p><a href="{{ path('terms_index') }}" style="color:#fff"> Termes & Conditions</a></p>
                <p><a href="{{ path('privacy_index') }}" style="color:#fff"> Politique de confidentialité</a></p>
              </div>
            </div>
            </p>
          </div>
        </section>
      </div>
    </div>
      <div class="progress-container fixed-bottom">
      {% set stock = product.currentStock / product.initialStock * 100 %}
        <div class="progress-progression" data-done="{{ stock }}">
          <span class="progress-content pc">
            {% if stock > 42 %} Le stock du produit est à  {{ stock|round }} % {% else %} {{ stock|round }} % restant {% endif %}
          </span>
          <span class="progress-content tel">
            <p>{% if stock == 0 %} {{ stock|round }} % restant {% else %} Le Stock <br> est à {{ stock|round }} % {% endif %} </p> 
          </span>
        </div>
        <div class="progress-countdown">
          <div id ="timer-hour"></div><span style="font-weight:700; color: rgb(102, 82, 88)">:</span>
          <div id ="timer-minute"></div><span style="font-weight:700; color: rgb(102, 82, 88)">:</span>
          <div id ="timer-second"></div>
        </div>
      </div>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/@pqina/flip/dist/flip.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="js/app.js"></script>
<script src="/js/zoomify.js"></script>
<script src="js/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
// fonction de timer + appel du switch à la fin
  $(document).ready(
      $.get("https://stocklet.ci/demain",function (data,status) {
    window.localStorage.setItem('productDate',data.demain)
  }));
  function handleTickInit(tick) {
  // format of due date is ISO8601
  // https://en.wikipedia.org/wiki/ISO_8601

  // '2018-01-15T10:00:00+01:00'  to count down to the 15th of January 2018 at 10 o'clock in timezone GMT+1

  // create the countdown counter
    var counter = Tick.count.down(window.localStorage.getItem('productDate'));

    counter.onupdate = function (value) {
      tick.value = value;
    };

    function launchSwitch() {
      location.replace("https://stocklet.ci/switch");
      location.replace("https://stocklet.ci/switch");

      $.get("https://stocklet.ci/demain",function (data) {
      window.localStorage.setItem('productDate',data.demain);
      })
    }

    counter.onended = function () {
      // redirect, uncomment the next line
      launchSwitch();
    };
  }
</script>
<script>
// Switch   
const url = "https://stocklet.ci/demain";
const v = axios.get(url).then(function (response) {
  // Initialisation du minuteur

  var x = setInterval(function () {
    // Date de fin d'affichage(demain) , on parse pour avoir une valeur millisecondes
    const r = response.data.demain;
    const d = new Date(r).getTime();

    // Date d'aujourd'hui , on parse pour avoir une valeur millisecondes
    const n = new Date().getTime();
    // calcul de la différence entre demain et aujourdhui
    const diff = d - n;

    // calcul des j , h , m et s en fonctions de la diff

    var h = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var m = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    var s = Math.floor((diff % (1000 * 60)) / 1000);

    // affichage de la valeur dans le html
    document.getElementById("timer-hour").innerText = h;
    document.getElementById("timer-minute").innerText = m;
    document.getElementById("timer-second").innerText = s;

    // Appel de ma fonction switch à la fin du timer
    const switchUrl = "https://stocklet.ci/switch";
    function launchSwitch() {
      location.replace(switchUrl);
    }
    if (diff < 0) {
      clearInterval(x);
      launchSwitch();
    }
  }, 1000);
});
</script>
<script>
  // Carousel
  var setImg = 1;
  document.getElementById(0).src = document.getElementById(setImg).src;

  function preview(img) {
    document.getElementById(0).src = img.src;
    setImg = img.id;
  }
</script>
<script>
  $(".main").zoomify();
</script>
<script>
  // Progress bar
  const pro = document.querySelector(".progress-progression");
  setTimeout(() => {
    pro.style.width = pro.getAttribute("data-done") + "%";
    pro.style.opacity = 1;
  }, 500);
</script>

<script>
// Owl Carousel
$(document).ready(function () {
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 10,
    autoplay: true,
    autoplayTimeout: 2000,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 2,
      },
      900: {
        items: 3,
      },
    },
  });
});
</script>
<script>
  // Off Canvas
  jQuery(document).ready(function ($) {
    var bsDefaults = {
        offset: false,
        overlay: true,
        width: "330px",
      },
      bsMain = $(".bs-offset-main"),
      bsOverlay = $(".bs-canvas-overlay");

    $('[data-toggle="canvas"][aria-expanded="false"]').on("click", function () {
      var canvas = $(this).data("target"),
        opts = $.extend({}, bsDefaults, $(canvas).data()),
        prop = $(canvas).hasClass("bs-canvas-right")
          ? "margin-right"
          : "margin-left";

      if (opts.width === "100%") opts.offset = false;

      $(canvas).css("width", opts.width);
      if (opts.offset && bsMain.length) bsMain.css(prop, opts.width);

      $(canvas + " .bs-canvas-close").attr("aria-expanded", "true");
      $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr(
        "aria-expanded",
        "true"
      );
      if (opts.overlay && bsOverlay.length) bsOverlay.addClass("show");
      return false;
    });

    $(".bs-canvas-close, .bs-canvas-overlay").on("click", function () {
      var canvas, aria;
      if ($(this).hasClass("bs-canvas-close")) {
        canvas = $(this).closest(".bs-canvas");
        aria = $(this).add(
          $('[data-toggle="canvas"][data-target="#' + canvas.attr("id") + '"]')
        );
        if (bsMain.length)
          bsMain.css(
            $(canvas).hasClass("bs-canvas-right")
              ? "margin-right"
              : "margin-left",
            ""
          );
      } else {
        canvas = $(".bs-canvas");
        aria = $('.bs-canvas-close, [data-toggle="canvas"]');
        if (bsMain.length)
          bsMain.css({
            "margin-left": "",
            "margin-right": "",
          });
      }
      canvas.css("width", "");
      aria.attr("aria-expanded", "false");
      if (bsOverlay.length) bsOverlay.removeClass("show");
      return false;
    });
  });
</script>

<script>
// Fonction du scroll du bouton de commande
myID = document.getElementById("content");

var myScrollFunc = function () {
    var y = window.scrollY;
    if (y >= 450) {
        myID.className = "content sticky"
    } else {
        myID.className = "content"
    }
};

window.addEventListener("scroll", myScrollFunc);
</script>
{% endblock %}
