   <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{{ path('home') }}">Stocklet.</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
    {% if app.user %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="showOnPhone">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">
                  <i class="fas fa-home"></i> Accueil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('account_profile') }}">
                  <i class="fas fa-edit"></i>Modifier les infos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('account_password') }}">
                  <i class="fas fa-lock"></i> Mot de passe
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('account_orders') }}">
                  <i class="fas fa-list"></i> Commandes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('cart_index') }}">
                  <i class="fa fa-shopping-bag"></i> Mon Panier
                </a>
              </li>
              <hr>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('account_logout') }}">
                  <i class="fas fa-power-off"></i> Déconnexion
                </a>
              </li>  
            </div>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                {% if user.picture is null and user.pictureName is null %}
                src="https://via.placeholder.com/150C"
                {% elseif user.picture is null %}
                src="/images/avatar/{{ user.pictureName }}"
                {% else %}
                  src="{{ user.picture }}"
              {% endif %}
                class="avatar avatar-medium"
              />
              {{ user.firstName }} {{ user.lastName }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('home') }}">
                <i class="fas fa-home"></i> Accueil
              </a>
              <div class="depends1">
                <a class="dropdown-item" href="{{ path('account_index') }}">
                  <i class="fas fa-user"></i> Mon Compte
                </a>
              </div>
              <div class="depends">
                <a class="dropdown-item" href="{{ path('account_profile') }}">
                  <i class="fas fa-edit"></i>Modifier les infos
                </a>
                <a class="dropdown-item" href="{{ path('account_password') }}">
                  <i class="fas fa-lock"></i> Mot de passe
                </a>
                <a class="dropdown-item" href="{{ path('account_orders') }}">
                  <i class="fas fa-list"></i> Commandes
                </a>                
              </div>
              <a class="dropdown-item" href="{{ path('cart_index') }}">
                <i class="fa fa-shopping-bag"></i> Mon Panier
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('account_logout') }}">
                <i class="fas fa-power-off"></i> Déconnexion
              </a>
            </div>
          </li>
        </ul>
      </div>
    {% else %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('home') }}">
                <i class="fas fa-home"></i> Accueil
              </a>
              <div class="depends1">
                <a class="dropdown-item" href="{{ path('account_login') }}">
                  <i class="fas fa-sign-in-alt"></i> Connexion
                </a>
              </div>
              <div class="depends">
                <a class="dropdown-item" href="{{ path('account_register') }}">
                  <i class="fas fa-user-plus"></i> Inscription
                </a>             
              </div>
            </div>
          </li>
        </ul>
      </div>      
    {% endif %}
    </nav>
    