<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ path('home') }}">Stocklet.</a>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    {% if app.user %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('account_profile') }}" style="float:right; padding-right:0px">
                        <i class="fas fa-user"></i> Modifier les infos du compte
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cart_index') }}" style="float:right;">
                        <i class="fa fa-shopping-bag"></i> Mon Panier
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_logout') }}" style="float:right;">
                        <i class="fas fa-power-off"></i> Déconnexion
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('account_login') }}" style="float:right;">
                        <i class="fas fa-sign-in-alt"></i> Connexion
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}" style="float:right;">
                        <i class="fas fa-user-plus"></i> Inscription
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>
