@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@font-face {
  font-family: Gilroy-bold;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gilroy-regular;
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
/* body {
  background-attachment: fixed;
  background-color: #bcbcc0;
} */
body {
  background: url(../assets/images/back2.PNG) fixed center;
}

.card {
  top: 10px;
  width: 600px;
  height: auto;
  background-color: #fbfbf9;
  border: 1px solid #eeeeee;
}

.title {
  font-size: 45px;
  color: #1e316a;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.welcome {
  font-size: 17px;
  color: #161925;
  font-weight: bold;
  font-family: Gilroy-bold;
}

.signup {
  font-size: 17px;
  font-family: Gilroy-regular;
  color: #161925;
}

.signup a {
  color: #1e316a;
  text-decoration: none;
  font-family: Gilroy-bold;
}

input {
  height: 32px;
  border: 1px solid #bcbcc0;
  border-radius: 8px;
  background-color: #f1f0e8;
}

form button {
  border-radius: 8px;
  width: 100%;
  height: 40px;
  background-color: #1e316a;
  color: #ffffff;
}
form button:hover {
  background-color: #f1f0e8;
  color: #1e316a;
}

form button p {
  font-family: Gilroy-bold;
  font-size: 20px;
}
