{% extends 'admin/base.html.twig' %}

{% block title %}Interface Administration{% endblock %}

{% block body %}
<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
      {{ wo_render_breadcrumbs({separator: '>'}) }}
        <div class="jumbotron">
          <h1>Dashboard de STOCKLET</h1>
          <p>Ici , vous verrez quelque statistiques par semaine des activités sur le site STOCKLET</p>
        </div>
        <div class="row">
          <div class="col">
            <a href="{{ path('admin_user_index') }}" style="text-decoration:none;">
              <div class="card bg-primary text-white mb-3 text-center" style="width: 12rem; height:10rem;">
                <p class="mt-2">
                  <i class="fas fa-users fa-3x"></i>
                </p>
                <p class="mt-2">
                  <h5>{{ stats.users }} Utilisateurs</h5>
                </p>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="{{ path('admin_products_index') }}" style="text-decoration:none;">
              <div class="card bg-success text-white mb-3 text-center" style="width: 12rem; height:10rem;">
                <p class="mt-2">
                  <i class="fas fa-layer-group fa-3x"></i>
                </p>
                <p class="mt-2">
                  <h5>{{ stats.products }} produits créés</h5>
                </p>
              </div>
            </a>     
          </div>
          <div class="col">
            <a href="{{ path('admin_comment_index') }}" style="text-decoration:none;">
              <div class="card bg-secondary text-white mb-3 text-center" style="width: 12rem; height:10rem;">
                <p class="mt-2">
                  <i class="fas fas fa-comments fa-3x"></i>
                </p>
                <p class="mt-2">
                  <h5>{{ stats.comments }} Commentaires</h5>
                </p>
              </div>
            </a>     
          </div>
          <div class="col">
            <a href="{{ path('admin_category_index') }}" style="text-decoration:none;">
              <div class="card bg-warning text-white mb-3 text-center" style="width: 12rem; height:10rem;">
                <p class="mt-2">
                  <i class="fas fa-bookmark fa-3x"></i>
                </p>
                <p class="mt-2">
                  <h5>{{ stats.categories }} Catégories</h5>
                </p>
              </div>
            </a>        
          </div>
          <div class="col">
            <a href="{{ path('admin_order_index') }}" style="text-decoration:none;">
              <div class="card bg-dark text-white mb-3 text-center" style="width: 12rem; height:10rem;">
                <p class="mt-2">
                  <i class="fas fa-shopping-cart fa-3x"></i>
                </p>
                <p class="mt-2">
                  <h5>{{ stats.orders }} Commandes</h5>
                </p>
              </div>
            </a>        
          </div>
        </div>
        <div class="row">
          <div class="col">
            <dl>
              <dt>
                Ventes de la semaine
              </dt>
              {% for one in seven %}
                <dd class="percentage percentage-{{ one.sales|round(0) }}"><span class="text"><a href="{{ path('admin_products_show',{id: one.id} )}}" style="text-decoration:none;">{{ one.productName|raw|slice(0,15) }}</a>:{{ one.sales|round(0) }}%</span></dd>
              {% endfor %}
            </dl>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-5"> Le produit le plus commandé cette semaine </h4> 
          {% for prod in mostOrdered %}
            <div class="card mb-3">
              <div class="row">
                <div class="col-md-5">
                  <img class="card-img-top"
                    {% if prod.rightPic1Name is null and prod.rightPic1Url %}
                      src="{{ prod.rightPic1Url }}" 
                      alt="Image de {{ prod.productName }}"
                    {% else %}
                      src="/uploads/images/product_right/{{ prod.rightPic1Name }}" 
                      alt=" Image de {{ prod.productName }}"         
                    {% endif %}
                    height="300">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">{{ prod.productName }}</h5>
                    <p class="card-text">{{ prod.productDescription1 }}</p>
                    <hr>
                    <p class="card-text">Prix du Produit : {{ prod.unitPrice|number_format(0,'','  ') }} FCFA </p> <br>
                    <p class="card-text">Nombre Total de commandes: <b>{{ prod.total }} </b></p>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <p class="card-text"><small class="text-muted">Mis en ligne le {{ prod.createdAt|date('d/m/Y') }} </small></p>
              </div>          
            </div>       
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
