{% extends "base.html.twig" %}
{% block title %}Récapitulatif de commande {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/ultime_0.css">
{% include "partials/header.html.twig" %}
{% include "partials/loader.html.twig" %}
    <div class="container">
      <div class="card">
        {% include "partials/menu.html.twig" %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="conf">
            Récapitulatif <br />
            <small style="font-family: Gilroy-regular; font-size: 15px;color: #707070;">Informations de livraison</small>
          </p>
          <div class="confirmation_card">
            <div class="row">
              <div class="col-md-6 mt-2">
                <div class="confirm_left">
                  <ul>
                    <li>Nom ---------------------</li>
                    <li>Ville ----------------------</li>
                    <li>Quartier ------------------</li>
                    <li>Adresse 1 -----------------</li>
                    <li>Adresse 2 -----------------</li>
                    <li>Numéro de telephone ------</li>
                  </ul>
                  <hr />
                  <ul>
                    <li>Compagnie ---------------</li>
                    <li>Date de livraison ----------</li>
                    <li>Cout de la livraison --------</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 mt-2">
              {% for order in invoice %}
                <div class="confirm_right" style="padding-left: 0">
                  <ul>
                    <li>{{ order.users.firstName }} {{ order.users.lastName }}</li>
                    <li>{{ order.shippingCity }}</li>
                    <li>{{ order.shippingDistrict }}</li>
                    <li>{{ order.shippingAddress1 }}</li>
                    <li>{{ order.shippingAddress2|raw|slice(0,20)}}..</li>
                    <li>{{ order.users.userPhone }}</li>
                  </ul>
                  <hr />
                  <ul>
                    <li>Envoy</li>
                    <li>...</li>
                    <li>...</li>
                  </ul>
                </div>
              </div>
              <div class="col onPhone">
                <ul>
                  <li>Nom --------- <b>{{ order.users.firstName }} {{ order.users.lastName }}</b></li>
                  <li>Ville --------- <b>{{ order.shippingCity }}</b></li>
                  <li>Quartier -------- <b>{{ order.shippingDistrict }} </b></li>
                  <li>Adresse 1 -------- <b>{{ order.shippingAddress1 }} </b></li>
                  <li>Adresse 2 --------- <b>{{ order.shippingAddress2|raw|slice(0,20)}}..</b></li>
                  <li>Téléphone --------- <b>{{ order.users.userPhone }}</b></li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="purchase">
        <hr />
        <p class="float-left">
          <a href="{{ path('home')}}" class="return"><i class="fas fa-arrow-left"></i></a> &nbsp; Retour à l'accueil
        </p>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/loader.js"></script>
{% endblock %}