{% extends "base.html.twig" %}

{% block title %} Livraison et paiement {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/ultime_0.css"> 
{% include "partials/header.html.twig" %}
{% include "partials/loader.html.twig" %}
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          {% for message in app.flashes('error') %}
              <div class="alert alert-danger">
                  {{ message }}
              </div>
          {% endfor %}
          <div>
            <p><a href="{{ path('cart_index') }}">Retour au panier </a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/loader.js"></script>
{% endblock %}