{% extends "base.html.twig" %}

{% block title %} Livraison et paiement {% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/ultime_0.css"> 
{% include "partials/header.html.twig" %}
{% include "partials/loader.html.twig" %}
    <div class="container">
      <div class="card">
      {% include "partials/menu.html.twig" %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="shipped">
            Livraison <br />
            <small style="font-family: Gilroy-regular; font-size: 15px">
              Le moyen de livraison par defaut
            </small>
            <span class="otherShi">
              <b style="font-size: 16px">ENVOY</b>
            </span>
          </p>
          <div class="shi">
            <div class="row">
              <div class="col-md-7 mt-2 ml-1">
                <div class="envoy">
                  <input type="radio" id="envoy" name="envoy" checked />
                  <label for="envoy">Envoy</label>
                  <p>Livraison dans les 5 jours</p>
                </div>
              </div>
              <div class="col-md-3 offset-md-1 mt-2">
                <div class="logo">
                  <img
                    src="/images/logo/envoy.jpg"
                    alt=""
                    height="40"
                    width="85"
                  />
                </div>
              </div>
            </div>
          </div>
          <p class="infos">
            Paiement <br />
            <small style="font-family: Gilroy-regular; font-size: 15px">
              Le moyen de paiment par defaut
            </small>
            <span class="otherCard">
              <b style="font-size: 16px">PayQin Wallet</b>
            </span>
          </p>
          <div class="payment">
            <div class="row">
              <div class="col-md-7 mt-2 ml-1">
                <div class="payqinCard">
                  <input type="radio" id="payqin" name="payqin" checked />
                  <label for="payqin">PayQin Wallet</label>
                  <p>
                    A safe and secure environment for your internet transactions
                    anywhere in the world.
                  </p>
                </div>
              </div>
              <div class="col-md-3 offset-md-1 mt-2">
                <div class="logo">
                  <img
                    src="https://www.payqin.com/wp-content/uploads/2020/09/n3-1.png"
                    alt=""
                    height="25"
                    width="85"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-2">
        {% include "partials/summary.html.twig" %}
          <p class="float-left"><button id="next">Procéder au paiement</button></p>
        </div>
      </div>
      <div class="payment_purchase">
        <hr />
        <p class="float-left">
          <a href="{{ path('checkout_index') }}" class="return"><i class="fas fa-arrow-left"></i>&nbsp; Retour au informations de livraisons</a> 
        </p>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/loader.js"></script>
<script>
// fonction d'envoi des données sur api Payqin
  const urlRes = "https://stocklet.ci/payment/process";
  const urlCheck = "https://business-api-2.ew.r.appspot.com/api/transactions";

// Fonction de recupération des données puis mise en local
    function receive() {
      $.get(urlRes,function (data,status) {
        window.localStorage.setItem('shopId',data.shopId)
        window.localStorage.setItem('amount',data.amount)
        window.localStorage.setItem('customerNumber',data.customerNumber)
        window.localStorage.setItem('orderNumber',data.orderNumber)
        window.localStorage.setItem('signature',data.signature)
      });
    }

// Fonction d'envoi des données en local puis redirection pour le paiement
    function postNow(){
      $.post(urlCheck,
      {
        shopId: window.localStorage.getItem('shopId'),
        amount: window.localStorage.getItem('amount'),
        customerNumber: window.localStorage.getItem('customerNumber'),
        orderNumber: window.localStorage.getItem('orderNumber'),
        signature: window.localStorage.getItem('signature')
      },
      function(data,status){
        if (data.success == true) {
          window.location.replace(data.url) ;
        }
        window.localStorage.clear();
      });
    }
    $(document).ready(
      function(){
        receive();
      }
    )
// Fonction au click appel, des deux fonctions
  $("#next").click(function(){
    postNow();
  });
</script>
{% endblock %}