{% extends 'admin/base.html.twig' %}

{% block title %} {{ product.productName }} {% endblock %}

{% block body %}
    <div class="content-container">
        <div class="container-fluid">
                {{ wo_render_breadcrumbs({separator: '>>'}) }}    
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.productName }}</h5>
                            <div class="row">
                                <div class="col-4">
                                {% if product.leftPic1Url is null %}
                                    <img src="/uploads/images/product_left/{{ product.leftPic1Name }}"alt="" width="100%" />
                                {% else %}
                                    <img src="{{ product.leftPic1Url }}" alt="" width="100%" />                
                                {% endif %}                                
                                </div>
                                <div class="col-5">
                                    <p>{{ product.productDescription1 }}</p>
                                    <p>{{ product.productDescription2 }}</p>
                                </div>
                                <div class="col-3">
                                    <p><small class="text-muted"> Prix du produit : </small><b> {{ product.unitPrice|number_format(0,'','  ') }} FCFA</b></p>
                                    <p><small class="text-muted"> Prix sans promo : </small><b> {{ product.oldUnitPrice|number_format(0,'','  ') }} FCFA</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Statistiques principales</h5>
                            <p><small>Nombre de commandes  :</small>  {{ product.orders|length }}</p>
                            <p><small>Nombre de commentaires :</small>  {{ product.comments|length }}</p>
                            <hr>
                            <p><small>Total des ventes: </small>  0 FCFA</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Actions possibles </h5>
                            <a href="#" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Modifier le produit</a>
                            <a href="#" class="btn btn-outline-warning"><i class="fas fa-check-circle"></i> Modifier la disponibilité</a>
                            <a href="#" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Supprimer le produit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">Tous les commentaires sur le produit</div>
                        <div class="card-body">
                            {% if product.comments|length > 0 %}
                                <table class="table table-hover">
                                    <thead>
                                    <th scope="col">Date de publication</th>
                                    <th scope="col">Commentaire</th>
                                    <th scope="col">Reactions</th>
                                    <th scope="col" class="text-center">Actions</th>
                                    </thead>
                                    {% for comment in product.comments %}
                                        <tbody>
                                            <td>{{ comment.createdAt|date('d/m/Y H:i') }}</td>
                                            <td>{{ comment.content }}</td>
                                            <td>
                                                <i class="fas fa-frown"></i> {{ comment.dislikes|length }}
                                                <i class="fas fa-heart"></i> {{ comment.likes|length }}
                                                <i class="fas fa-comments"></i> 4
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-danger"
                                                ><i class="fas fa-trash"></i
                                                ></a>
                                            </td>
                                        </tbody>                                  
                                    {% endfor %}
                                </table>
                            {% else %}
                                <div class="alert alert-warning">Aucun commentaire</div>
                            {% endif %}    
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">Les commandes du produits </div>
                        <div class="card-body">
                            {% if product.orders|length > 0 %}
                                <table class="table table-hover">
                                    <thead>
                                    <th scope="col">#</th>
                                    <th scope="col">Date de commande</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" class="text-center">Action</th>
                                    </thead>
                                    {% for order in product.orders %}
                                        <tbody>
                                        <td>{{ order.invoiceNumber}}</td>
                                        <td> {{ order.orderDate|date('d/m/Y') }} </td>
                                        <td> {{ order.orderTotalAmount }} FCFA</td>
                                        <td class="text-center"><a href="{{ path('admin_order_show', {'id': order.id }) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>
                                        </tbody>                          
                                    {% endfor %}                  
                                </table>
                            {% else %}
                               <div class="alert alert-warning">Le produit n'a pas encore été commandé</div>
                            {% endif %}    
                        </div>
                    </div>
                </div>
            </div>                                                   
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %} 